In [1]:
import numpy as np
import pandas as pd
import pandasql
import seaborn as sns
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn import feature_selection
from sklearn.cross_validation import ShuffleSplit
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.cross_validation import ShuffleSplit, train_test_split
from sklearn.cross_validation import StratifiedShuffleSplit
from sklearn.metrics import f1_score
import sklearn.learning_curve as curves
import matplotlib.pyplot as plt
from time import time
import datetime 

%matplotlib inline

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

/home/amywu/anaconda3/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/amywu/anaconda3/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/home/amywu/anaconda3/lib/python2.7/site-packages/sklearn/learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
df = pd.read_csv('employee_retention_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24702 entries, 0 to 24701
Data columns (total 7 columns):
employee_id    24702 non-null float64
company_id     24702 non-null int64
dept           24702 non-null object
seniority      24702 non-null int64
salary         24702 non-null float64
join_date      24702 non-null object
quit_date      13510 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.3+ MB

In [3]:
df.head()

,employee_id,company_id,dept,seniority,salary,join_date,quit_date
0,13021.0,7,customer_service,28,89000.0,2014-03-24,2015-10-30
1,825355.0,7,marketing,20,183000.0,2013-04-29,2014-04-04
2,927315.0,4,marketing,14,101000.0,2014-10-13,NaN
3,662910.0,7,customer_service,20,115000.0,2012-05-14,2013-06-07
4,256971.0,2,data_science,23,276000.0,2011-10-17,2014-08-22

In [4]:
df.describe()

         employee_id    company_id     seniority         salary
count   24702.000000  24702.000000  24702.000000   24702.000000
mean   501604.403530      3.426969     14.127803  138183.345478
std    288909.026101      2.700011      8.089520   76058.184573
min        36.000000      1.000000      1.000000   17000.000000
25%    250133.750000      1.000000      7.000000   79000.000000
50%    500793.000000      2.000000     14.000000  123000.000000
75%    753137.250000      5.000000     21.000000  187000.000000
max    999969.000000     12.000000     99.000000  408000.000000

In [5]:
df.describe(include=[np.object])

                    dept   join_date   quit_date
count              24702       24702       13510
unique                 6         995         664
top     customer_service  2012-01-03  2015-05-08
freq                9180         105         111

In [6]:
print df.groupby('dept')['salary'].mean().sort_values()
print df.groupby('seniority').count()

dept
customer_service     82245.424837
marketing           135598.042311
sales               135912.358134
design              137460.869565
engineer            205544.548016
data_science        206885.893417
Name: salary, dtype: float64
           employee_id  company_id  dept  salary  join_date  quit_date
seniority
1                  861         861   861     861        861        430
2                  942         942   942     942        942        500
3                  881         881   881     881        881        447
4                  895         895   895     895        895        422
5                  936         936   936     936        936        533
6                  950         950   950     950        950        571
7                  928         928   928     928        928        511
8                 1008        1008  1008    1008       1008        586
9                  944         944   944     944        944        522
10                 927         927   927     927        927        523
11                 924         924   924     924        924        512
12                 988         988   988     988        988        583
13                 894         894   894     894        894        500
14                 920         920   920     920        920        508
15                 911         911   911     911        911        505
16                 936         936   936     936        936        534
17                 893         893   893     893        893        478
18                 872         872   872     872        872        457
19                 910         910   910     910        910        497
20                 844         844   844     844        844        469
21                 782         782   782     782        782        455
22                 764         764   764     764        764        405
23                 785         785   785     785        785        430
24                 743         743   743     743        743        398
25                 715         715   715     715        715        403
26                 694         694   694     694        694        359
27                 642         642   642     642        642        342
28                 585         585   585     585        585        320
29                 626         626   626     626        626        308
98                   1           1     1       1          1          1
99                   1           1     1       1          1          1

In [7]:
df = df[df['seniority'] <= 30]
df.groupby('seniority').count()

           employee_id  company_id  dept  salary  join_date  quit_date
seniority
1                  861         861   861     861        861        430
2                  942         942   942     942        942        500
3                  881         881   881     881        881        447
4                  895         895   895     895        895        422
5                  936         936   936     936        936        533
6                  950         950   950     950        950        571
7                  928         928   928     928        928        511
8                 1008        1008  1008    1008       1008        586
9                  944         944   944     944        944        522
10                 927         927   927     927        927        523
11                 924         924   924     924        924        512
12                 988         988   988     988        988        583
13                 894         894   894     894        894        500
14                 920         920   920     920        920        508
15                 911         911   911     911        911        505
16                 936         936   936     936        936        534
17                 893         893   893     893        893        478
18                 872         872   872     872        872        457
19                 910         910   910     910        910        497
20                 844         844   844     844        844        469
21                 782         782   782     782        782        455
22                 764         764   764     764        764        405
23                 785         785   785     785        785        430
24                 743         743   743     743        743        398
25                 715         715   715     715        715        403
26                 694         694   694     694        694        359
27                 642         642   642     642        642        342
28                 585         585   585     585        585        320
29                 626         626   626     626        626        308

In [8]:
companies = pd.unique(df['company_id'])
company_id = pd.DataFrame(companies, columns = ['company'])
company_id['key'] = 0

date = datetime.date(2011, 1, 24)
end_date = datetime.date(2015, 12, 13)
day_step = datetime.timedelta(days = 1)
days = []

while date <= end_date:
    days.append(date)
    date += day_step

print 'total days from 2011-01-24 to 2015-12-13:\t', len(days)

date = pd.DataFrame(days)
date['key'] = 0   

df_hc_columns = ['date','employee_headcount','company_id']
df_hc = pd.merge(date, company_id, on = 'key')
df_hc.columns = df_hc_columns
df_hc

total days from 2011-01-24 to 2015-12-13:	1785

             date  employee_headcount  company_id
0      2011-01-24                   0           7
1      2011-01-24                   0           4
2      2011-01-24                   0           2
3      2011-01-24                   0           9
4      2011-01-24                   0           1
5      2011-01-24                   0           6
6      2011-01-24                   0          10
7      2011-01-24                   0           5
8      2011-01-24                   0           3
9      2011-01-24                   0           8
10     2011-01-24                   0          11
11     2011-01-24                   0          12
12     2011-01-25                   0           7
13     2011-01-25                   0           4
14     2011-01-25                   0           2
15     2011-01-25                   0           9
16     2011-01-25                   0           1
17     2011-01-25                   0           6
18     2011-01-25                   0          10
19     2011-01-25                   0           5
20     2011-01-25                   0           3
21     2011-01-25                   0           8
22     2011-01-25                   0          11
23     2011-01-25                   0          12
24     2011-01-26                   0           7
25     2011-01-26                   0           4
26     2011-01-26                   0           2
27     2011-01-26                   0           9
28     2011-01-26                   0           1
29     2011-01-26                   0           6
...           ...                 ...         ...
21390  2015-12-11                   0          10
21391  2015-12-11                   0           5
21392  2015-12-11                   0           3
21393  2015-12-11                   0           8
21394  2015-12-11                   0          11
21395  2015-12-11                   0          12
21396  2015-12-12                   0           7
21397  2015-12-12                   0           4
21398  2015-12-12                   0           2
21399  2015-12-12                   0           9
21400  2015-12-12                   0           1
21401  2015-12-12                   0           6
21402  2015-12-12                   0          10
21403  2015-12-12                   0           5
21404  2015-12-12                   0           3
21405  2015-12-12                   0           8
21406  2015-12-12                   0          11
21407  2015-12-12                   0          12
21408  2015-12-13                   0           7
21409  2015-12-13                   0           4
21410  2015-12-13                   0           2
21411  2015-12-13                   0           9
21412  2015-12-13                   0           1
21413  2015-12-13                   0           6
21414  2015-12-13                   0          10
21415  2015-12-13                   0           5
21416  2015-12-13                   0           3
21417  2015-12-13                   0           8
21418  2015-12-13                   0          11
21419  2015-12-13                   0          12

[21420 rows x 3 columns]

In [9]:
# for key, value in df.groupby(['join_date', 'company_id']):
#     print key, len(value['join_date'])
#     print key[0], key[1]

In [10]:
df_join = df.groupby(['join_date', 'company_id']).size().to_frame(name = 'join_count').reset_index()
df_join

       join_date  company_id  join_count
0     2011-01-24           1          25
1     2011-01-24           2          17
2     2011-01-24           3           9
3     2011-01-24           4          12
4     2011-01-24           5           5
5     2011-01-24           6           3
6     2011-01-24           7           1
7     2011-01-24           8           6
8     2011-01-24           9           3
9     2011-01-25           1           2
10    2011-01-25           2           2
11    2011-01-25           3           1
12    2011-01-26           1           2
13    2011-01-26           3           2
14    2011-01-26           4           1
15    2011-01-26           5           1
16    2011-01-31           1          30
17    2011-01-31           2          12
18    2011-01-31           3           7
19    2011-01-31           4           5
20    2011-01-31           5           7
21    2011-01-31           6           7
22    2011-01-31           7           6
23    2011-01-31           8           5
24    2011-01-31           9           3
25    2011-01-31          10           1
26    2011-02-01           1           7
27    2011-02-01           2           2
28    2011-02-01           3           1
29    2011-02-01           4           1
...          ...         ...         ...
5099  2015-12-01           1           3
5100  2015-12-01           2           3
5101  2015-12-01           3           2
5102  2015-12-01           4           1
5103  2015-12-01           6           1
5104  2015-12-02           1           1
5105  2015-12-02           7           1
5106  2015-12-02          10           1
5107  2015-12-03           1           1
5108  2015-12-03           2           2
5109  2015-12-03           8           1
5110  2015-12-07           1          22
5111  2015-12-07           2          15
5112  2015-12-07           3          11
5113  2015-12-07           4           4
5114  2015-12-07           5           6
5115  2015-12-07           6           2
5116  2015-12-07           7           4
5117  2015-12-07           8           5
5118  2015-12-07           9           6
5119  2015-12-07          10           3
5120  2015-12-08           1           1
5121  2015-12-08           2           2
5122  2015-12-08           6           1
5123  2015-12-08           9           1
5124  2015-12-09           1           1
5125  2015-12-09           2           2
5126  2015-12-09           3           1
5127  2015-12-10           1           1
5128  2015-12-10          10           1

[5129 rows x 3 columns]

In [11]:
df_quit = df.groupby(['quit_date', 'company_id']).size().to_frame(name = 'quit_count').reset_index()
df_quit

       quit_date  company_id  quit_count
0     2011-10-13           6           1
1     2011-10-14          10           1
2     2011-10-21           1           1
3     2011-10-28           4           1
4     2011-11-11           1           1
5     2011-11-22           1           1
6     2011-11-25           1           1
7     2011-11-25           2           1
8     2011-12-02           6           1
9     2011-12-02           8           1
10    2011-12-09           1           1
11    2011-12-09           4           1
12    2011-12-09           8           1
13    2011-12-13           2           1
14    2011-12-16           1           1
15    2011-12-16           2           2
16    2011-12-16           4           3
17    2011-12-16           5           1
18    2011-12-16           8           1
19    2011-12-23           1           2
20    2011-12-23           3           1
21    2011-12-23           6           1
22    2011-12-23           7           1
23    2011-12-23           8           2
24    2011-12-23          10           1
25    2011-12-30           1           4
26    2011-12-30           2           1
27    2011-12-30           3           1
28    2011-12-30           4           1
29    2012-01-03           1           1
...          ...         ...         ...
2694  2015-11-25           2           1
2695  2015-11-25           3           1
2696  2015-11-27           1          35
2697  2015-11-27           2          15
2698  2015-11-27           3          14
2699  2015-11-27           4           9
2700  2015-11-27           5          10
2701  2015-11-27           6           4
2702  2015-11-27           7           3
2703  2015-11-27           8           5
2704  2015-11-27           9           4
2705  2015-11-27          10           3
2706  2015-12-01           3           1
2707  2015-12-03           1           1
2708  2015-12-03           3           1
2709  2015-12-03           7           1
2710  2015-12-03           9           1
2711  2015-12-04           1          26
2712  2015-12-04           2          12
2713  2015-12-04           3           8
2714  2015-12-04           4           4
2715  2015-12-04           5           3
2716  2015-12-04           6           4
2717  2015-12-04           7           7
2718  2015-12-04           8           4
2719  2015-12-04           9           4
2720  2015-12-04          10           3
2721  2015-12-08           1           1
2722  2015-12-08           3           1
2723  2015-12-09           4           1

[2724 rows x 3 columns]

In [12]:
for i in range(len(df_join['join_date'])):
    df_join.loc[i, 'join_date_t'] = datetime.datetime.strptime(df_join['join_date'][i], '%Y-%m-%d').date()
    
for i in range(len(df_quit['quit_date'])):
    df_quit.loc[i, 'quit_date_t'] = datetime.datetime.strptime(df_quit['quit_date'][i], '%Y-%m-%d').date()

    
    
result= pd.merge(df_hc, df_join, left_on = ['date', 'company_id'], right_on = ['join_date_t', 'company_id'], how = 'outer')
result = pd.merge(result, df_quit, left_on = ['date', 'company_id'], right_on = ['quit_date_t', 'company_id'], how = 'outer')

In [13]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21420 entries, 0 to 21419
Data columns (total 9 columns):
date                  21420 non-null object
employee_headcount    21420 non-null int64
company_id            21420 non-null int64
join_date             5129 non-null object
join_count            5129 non-null float64
join_date_t           5129 non-null object
quit_date             2724 non-null object
quit_count            2724 non-null float64
quit_date_t           2724 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.6+ MB

In [14]:
df_hc['date'][0] == df_join['join_date_t'][0]

True

In [15]:
df_hc['date'][0]

datetime.date(2011, 1, 24)

In [16]:
df_join['join_date_t'][0]

datetime.date(2011, 1, 24)

In [17]:
result

,date,employee_headcount,company_id,join_date,join_count,join_date_t,quit_date,quit_count,quit_date_t
0,2011-01-24,0,7,2011-01-24,1.0,2011-01-24,NaN,NaN,NaN
1,2011-01-24,0,4,2011-01-24,12.0,2011-01-24,NaN,NaN,NaN
2,2011-01-24,0,2,2011-01-24,17.0,2011-01-24,NaN,NaN,NaN
3,2011-01-24,0,9,2011-01-24,3.0,2011-01-24,NaN,NaN,NaN
4,2011-01-24,0,1,2011-01-24,25.0,2011-01-24,NaN,NaN,NaN
5,2011-01-24,0,6,2011-01-24,3.0,2011-01-24,NaN,NaN,NaN
6,2011-01-24,0,10,NaN,NaN,NaN,NaN,NaN,NaN
7,2011-01-24,0,5,2011-01-24,5.0,2011-01-24,NaN,NaN,NaN
8,2011-01-24,0,3,2011-01-24,9.0,2011-01-24,NaN,NaN,NaN
9,2011-01-24,0,8,2011-01-24,6.0,2011-01-24,NaN,NaN,NaN
10,2011-01-24,0,11,NaN,NaN,NaN,NaN,NaN,NaN
11,2011-01-24,0,12,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-01-25,0,7,NaN,NaN,NaN,NaN,NaN,NaN
13,2011-01-25,0,4,NaN,NaN,NaN,NaN,NaN,NaN
14,2011-01-25,0,2,2011-01-25,2.0,2011-01-25,NaN,NaN,NaN
15,2011-01-25,0,9,NaN,NaN,NaN,NaN,NaN,NaN
16,2011-01-25,0,1,2011-01-25,2.0,2011-01-25,NaN,NaN,NaN
17,2011-01-25,0,6,NaN,NaN,NaN,NaN,NaN,NaN
18,2011-01-25,0,10,NaN,NaN,NaN,NaN,NaN,NaN
19,2011-01-25,0,5,NaN,NaN,NaN,NaN,NaN,NaN
20,2011-01-25,0,3,2011-01-25,1.0,2011-01-25,NaN,NaN,NaN
21,2011-01-25,0,8,NaN,NaN,NaN,NaN,NaN,NaN
22,2011-01-25,0,11,NaN,NaN,NaN,NaN,NaN,NaN
23,2011-01-25,0,12,NaN,NaN,NaN,NaN,NaN,NaN
24,2011-01-26,0,7,NaN,NaN,NaN,NaN,NaN,NaN
25,2011-01-26,0,4,2011-01-26,1.0,2011-01-26,NaN,NaN,NaN
26,2011-01-26,0,2,NaN,NaN,NaN,NaN,NaN,NaN
27,2011-01-26,0,9,NaN,NaN,NaN,NaN,NaN,NaN
28,2011-01-26,0,1,2011-01-26,2.0,2011-01-26,NaN,NaN,NaN
29,2011-01-26,0,6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
21390,2015-12-11,0,10,NaN,NaN,NaN,NaN,NaN,NaN
21391,2015-12-11,0,5,NaN,NaN,NaN,NaN,NaN,NaN
21392,2015-12-11,0,3,NaN,NaN,NaN,NaN,NaN,NaN
21393,2015-12-11,0,8,NaN,NaN,NaN,NaN,NaN,NaN
21394,2015-12-11,0,11,NaN,NaN,NaN,NaN,NaN,NaN
21395,2015-12-11,0,12,NaN,NaN,NaN,NaN,NaN,NaN
21396,2015-12-12,0,7,NaN,NaN,NaN,NaN,NaN,NaN
21397,2015-12-12,0,4,NaN,NaN,NaN,NaN,NaN,NaN
21398,2015-12-12,0,2,NaN,NaN,NaN,NaN,NaN,NaN
21399,2015-12-12,0,9,NaN,NaN,NaN,NaN,NaN,NaN
21400,2015-12-12,0,1,NaN,NaN,NaN,NaN,NaN,NaN
21401,2015-12-12,0,6,NaN,NaN,NaN,NaN,NaN,NaN
21402,2015-12-12,0,10,NaN,NaN,NaN,NaN,NaN,NaN
21403,2015-12-12,0,5,NaN,NaN,NaN,NaN,NaN,NaN
21404,2015-12-12,0,3,NaN,NaN,NaN,NaN,NaN,NaN
21405,2015-12-12,0,8,NaN,NaN,NaN,NaN,NaN,NaN
21406,2015-12-12,0,11,NaN,NaN,NaN,NaN,NaN,NaN
21407,2015-12-12,0,12,NaN,NaN,NaN,NaN,NaN,NaN
21408,2015-12-13,0,7,NaN,NaN,NaN,NaN,NaN,NaN
21409,2015-12-13,0,4,NaN,NaN,NaN,NaN,NaN,NaN
21410,2015-12-13,0,2,NaN,NaN,NaN,NaN,NaN,NaN
21411,2015-12-13,0,9,NaN,NaN,NaN,NaN,NaN,NaN
21412,2015-12-13,0,1,NaN,NaN,NaN,NaN,NaN,NaN
21413,2015-12-13,0,6,NaN,NaN,NaN,NaN,NaN,NaN
21414,2015-12-13,0,10,NaN,NaN,NaN,NaN,NaN,NaN
21415,2015-12-13,0,5,NaN,NaN,NaN,NaN,NaN,NaN
21416,2015-12-13,0,3,NaN,NaN,NaN,NaN,NaN,NaN
21417,2015-12-13,0,8,NaN,NaN,NaN,NaN,NaN,NaN
21418,2015-12-13,0,11,NaN,NaN,NaN,NaN,NaN,NaN
21419,2015-12-13,0,12,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
if result['join_count'].sum() == 24700 and result['quit_count'].sum() == 13508:
    print 'result dataframe is correct!'
else:
    print 'please re-check your code for creating result dataframe!'

result dataframe is correct!

In [19]:
# drop 'join_date' and 'quit_date' columns
result = result.drop('join_date',1)
result = result.drop('quit_date',1)
result = result.drop('join_date_t',1)
result = result.drop('quit_date_t',1)
# fill NaN values with 0
result = result.fillna(0)
# group by 'date' and 'company_id' to finish the dataframe
result = result.sort_values(['date','company_id'])
result

             date  employee_headcount  company_id  join_count  quit_count
4      2011-01-24                   0           1        25.0         0.0
2      2011-01-24                   0           2        17.0         0.0
8      2011-01-24                   0           3         9.0         0.0
1      2011-01-24                   0           4        12.0         0.0
7      2011-01-24                   0           5         5.0         0.0
5      2011-01-24                   0           6         3.0         0.0
0      2011-01-24                   0           7         1.0         0.0
9      2011-01-24                   0           8         6.0         0.0
3      2011-01-24                   0           9         3.0         0.0
6      2011-01-24                   0          10         0.0         0.0
10     2011-01-24                   0          11         0.0         0.0
11     2011-01-24                   0          12         0.0         0.0
16     2011-01-25                   0           1         2.0         0.0
14     2011-01-25                   0           2         2.0         0.0
20     2011-01-25                   0           3         1.0         0.0
13     2011-01-25                   0           4         0.0         0.0
19     2011-01-25                   0           5         0.0         0.0
17     2011-01-25                   0           6         0.0         0.0
12     2011-01-25                   0           7         0.0         0.0
21     2011-01-25                   0           8         0.0         0.0
15     2011-01-25                   0           9         0.0         0.0
18     2011-01-25                   0          10         0.0         0.0
22     2011-01-25                   0          11         0.0         0.0
23     2011-01-25                   0          12         0.0         0.0
28     2011-01-26                   0           1         2.0         0.0
26     2011-01-26                   0           2         0.0         0.0
32     2011-01-26                   0           3         2.0         0.0
25     2011-01-26                   0           4         1.0         0.0
31     2011-01-26                   0           5         1.0         0.0
29     2011-01-26                   0           6         0.0         0.0
...           ...                 ...         ...         ...         ...
21384  2015-12-11                   0           7         0.0         0.0
21393  2015-12-11                   0           8         0.0         0.0
21387  2015-12-11                   0           9         0.0         0.0
21390  2015-12-11                   0          10         0.0         0.0
21394  2015-12-11                   0          11         0.0         0.0
21395  2015-12-11                   0          12         0.0         0.0
21400  2015-12-12                   0           1         0.0         0.0
21398  2015-12-12                   0           2         0.0         0.0
21404  2015-12-12                   0           3         0.0         0.0
21397  2015-12-12                   0           4         0.0         0.0
21403  2015-12-12                   0           5         0.0         0.0
21401  2015-12-12                   0           6         0.0         0.0
21396  2015-12-12                   0           7         0.0         0.0
21405  2015-12-12                   0           8         0.0         0.0
21399  2015-12-12                   0           9         0.0         0.0
21402  2015-12-12                   0          10         0.0         0.0
21406  2015-12-12                   0          11         0.0         0.0
21407  2015-12-12                   0          12         0.0         0.0
21412  2015-12-13                   0           1         0.0         0.0
21410  2015-12-13                   0           2         0.0         0.0
21416  2015-12-13                   0           3         0.0         0.0
21409  2015-12-13                   0           4         0.0         0.0
21415  2015-12-13                   0           5         0.0         0.0
21413  2015-12-13                   0           6         0.0         0.0
21408  2015-12-13                   0           7         0.0         0.0
21417  2015-12-13                   0           8         0.0         0.0
21411  2015-12-13                   0           9         0.0         0.0
21414  2015-12-13                   0          10         0.0         0.0
21418  2015-12-13                   0          11         0.0         0.0
21419  2015-12-13                   0          12         0.0         0.0

[21420 rows x 5 columns]

In [20]:
result['join_cum_sum'] = result.groupby('company_id')['join_count'].transform(pd.Series.cumsum).to_frame()
result['quit_cum_sum'] = result.groupby('company_id')['quit_count'].transform(pd.Series.cumsum).to_frame()
result

,date,employee_headcount,company_id,join_count,quit_count,join_cum_sum,quit_cum_sum
4,2011-01-24,0,1,25.0,0.0,25.0,0.0
2,2011-01-24,0,2,17.0,0.0,17.0,0.0
8,2011-01-24,0,3,9.0,0.0,9.0,0.0
1,2011-01-24,0,4,12.0,0.0,12.0,0.0
7,2011-01-24,0,5,5.0,0.0,5.0,0.0
5,2011-01-24,0,6,3.0,0.0,3.0,0.0
0,2011-01-24,0,7,1.0,0.0,1.0,0.0
9,2011-01-24,0,8,6.0,0.0,6.0,0.0
3,2011-01-24,0,9,3.0,0.0,3.0,0.0
6,2011-01-24,0,10,0.0,0.0,0.0,0.0
10,2011-01-24,0,11,0.0,0.0,0.0,0.0
11,2011-01-24,0,12,0.0,0.0,0.0,0.0
16,2011-01-25,0,1,2.0,0.0,27.0,0.0
14,2011-01-25,0,2,2.0,0.0,19.0,0.0
20,2011-01-25,0,3,1.0,0.0,10.0,0.0
13,2011-01-25,0,4,0.0,0.0,12.0,0.0
19,2011-01-25,0,5,0.0,0.0,5.0,0.0
17,2011-01-25,0,6,0.0,0.0,3.0,0.0
12,2011-01-25,0,7,0.0,0.0,1.0,0.0
21,2011-01-25,0,8,0.0,0.0,6.0,0.0
15,2011-01-25,0,9,0.0,0.0,3.0,0.0
18,2011-01-25,0,10,0.0,0.0,0.0,0.0
22,2011-01-25,0,11,0.0,0.0,0.0,0.0
23,2011-01-25,0,12,0.0,0.0,0.0,0.0
28,2011-01-26,0,1,2.0,0.0,29.0,0.0
26,2011-01-26,0,2,0.0,0.0,19.0,0.0
32,2011-01-26,0,3,2.0,0.0,12.0,0.0
25,2011-01-26,0,4,1.0,0.0,13.0,0.0
31,2011-01-26,0,5,1.0,0.0,6.0,0.0
29,2011-01-26,0,6,0.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...
21384,2015-12-11,0,7,0.0,0.0,1224.0,692.0
21393,2015-12-11,0,8,0.0,0.0,1047.0,579.0
21387,2015-12-11,0,9,0.0,0.0,961.0,529.0
21390,2015-12-11,0,10,0.0,0.0,864.0,479.0
21394,2015-12-11,0,11,0.0,0.0,16.0,12.0
21395,2015-12-11,0,12,0.0,0.0,24.0,12.0
21400,2015-12-12,0,1,0.0,0.0,8485.0,4620.0
21398,2015-12-12,0,2,0.0,0.0,4222.0,2206.0
21404,2015-12-12,0,3,0.0,0.0,2749.0,1531.0
21397,2015-12-12,0,4,0.0,0.0,2062.0,1153.0
21403,2015-12-12,0,5,0.0,0.0,1755.0,983.0
21401,2015-12-12,0,6,0.0,0.0,1291.0,712.0
21396,2015-12-12,0,7,0.0,0.0,1224.0,692.0
21405,2015-12-12,0,8,0.0,0.0,1047.0,579.0
21399,2015-12-12,0,9,0.0,0.0,961.0,529.0
21402,2015-12-12,0,10,0.0,0.0,864.0,479.0
21406,2015-12-12,0,11,0.0,0.0,16.0,12.0
21407,2015-12-12,0,12,0.0,0.0,24.0,12.0
21412,2015-12-13,0,1,0.0,0.0,8485.0,4620.0
21410,2015-12-13,0,2,0.0,0.0,4222.0,2206.0
21416,2015-12-13,0,3,0.0,0.0,2749.0,1531.0
21409,2015-12-13,0,4,0.0,0.0,2062.0,1153.0
21415,2015-12-13,0,5,0.0,0.0,1755.0,983.0
21413,2015-12-13,0,6,0.0,0.0,1291.0,712.0
21408,2015-12-13,0,7,0.0,0.0,1224.0,692.0
21417,2015-12-13,0,8,0.0,0.0,1047.0,579.0
21411,2015-12-13,0,9,0.0,0.0,961.0,529.0
21414,2015-12-13,0,10,0.0,0.0,864.0,479.0
21418,2015-12-13,0,11,0.0,0.0,16.0,12.0
21419,2015-12-13,0,12,0.0,0.0,24.0,12.0

In [21]:
result['employee_headcount'] = result['join_cum_sum'] - result['quit_cum_sum']
headcount_final = result[['date','company_id','employee_headcount']]
headcount_final

             date  company_id  employee_headcount
4      2011-01-24           1                25.0
2      2011-01-24           2                17.0
8      2011-01-24           3                 9.0
1      2011-01-24           4                12.0
7      2011-01-24           5                 5.0
5      2011-01-24           6                 3.0
0      2011-01-24           7                 1.0
9      2011-01-24           8                 6.0
3      2011-01-24           9                 3.0
6      2011-01-24          10                 0.0
10     2011-01-24          11                 0.0
11     2011-01-24          12                 0.0
16     2011-01-25           1                27.0
14     2011-01-25           2                19.0
20     2011-01-25           3                10.0
13     2011-01-25           4                12.0
19     2011-01-25           5                 5.0
17     2011-01-25           6                 3.0
12     2011-01-25           7                 1.0
21     2011-01-25           8                 6.0
15     2011-01-25           9                 3.0
18     2011-01-25          10                 0.0
22     2011-01-25          11                 0.0
23     2011-01-25          12                 0.0
28     2011-01-26           1                29.0
26     2011-01-26           2                19.0
32     2011-01-26           3                12.0
25     2011-01-26           4                13.0
31     2011-01-26           5                 6.0
29     2011-01-26           6                 3.0
...           ...         ...                 ...
21384  2015-12-11           7               532.0
21393  2015-12-11           8               468.0
21387  2015-12-11           9               432.0
21390  2015-12-11          10               385.0
21394  2015-12-11          11                 4.0
21395  2015-12-11          12                12.0
21400  2015-12-12           1              3865.0
21398  2015-12-12           2              2016.0
21404  2015-12-12           3              1218.0
21397  2015-12-12           4               909.0
21403  2015-12-12           5               772.0
21401  2015-12-12           6               579.0
21396  2015-12-12           7               532.0
21405  2015-12-12           8               468.0
21399  2015-12-12           9               432.0
21402  2015-12-12          10               385.0
21406  2015-12-12          11                 4.0
21407  2015-12-12          12                12.0
21412  2015-12-13           1              3865.0
21410  2015-12-13           2              2016.0
21416  2015-12-13           3              1218.0
21409  2015-12-13           4               909.0
21415  2015-12-13           5               772.0
21413  2015-12-13           6               579.0
21408  2015-12-13           7               532.0
21417  2015-12-13           8               468.0
21411  2015-12-13           9               432.0
21414  2015-12-13          10               385.0
21418  2015-12-13          11                 4.0
21419  2015-12-13          12                12.0

[21420 rows x 3 columns]